In [ ]:
import pandas as pd
import os

# Folder containing .DAT files
dat_folder = r"C:\Users\JEFF\data-science-projects\housing_data_project\DAT files"

# List to store extracted rows
b_rows = []

# Parse all .DAT files in the folder
for filename in os.listdir(dat_folder):
    if filename.lower().endswith(".dat"):
        with open(os.path.join(dat_folder, filename), "r", encoding="utf-8") as f:
            for line in f:
                if line.startswith("B;"):
                    parts = line.strip().split(";")
                    b_rows.append(parts)

# Build DataFrame
b_df = pd.DataFrame(b_rows)

KeyboardInterrupt:

In [9]:
b_df.columns = [
    "record_type",               # 'B'
    "district_code",             # 3B-2
    "property_id",               # 3B-3
    "sale_counter",              # 3B-4
    "lodgement_datetime",       # 3B-5
    "property_name",            # 3B-6
    "unit_number",              # 3B-7
    "house_number",             # 3B-8
    "street_name",              # 3B-9
    "locality",                 # 3B-10
    "postcode",                 # 3B-11
    "land_area",                # 3B-12
    "area_type",                # 3B-13
    "contract_date",            # 3B-14
    "settlement_date",          # 3B-15
    "purchase_price",           # 3B-16
    "zoning",                   # 3B-17
    "nature_of_property",       # 3B-18
    "primary_purpose",          # 3B-19
    "strata_lot_number",        # 3B-20
    "component_code",           # 3B-21
    "sale_code",                # 3B-22
    "sale_interest_percent",    # 3B-23
    "dealing_number",            # 3B-24
    "trailing_empty"]

In [29]:
df = b_df.drop(columns=['trailing_empty'])

In [13]:
df.columns

Index(['record_type', 'district_code', 'property_id', 'sale_counter',
       'lodgement_datetime', 'property_name', 'unit_number', 'house_number',
       'street_name', 'locality', 'postcode', 'land_area', 'area_type',
       'contract_date', 'settlement_date', 'purchase_price', 'zoning',
       'nature_of_property', 'primary_purpose', 'strata_lot_number',
       'component_code', 'sale_code', 'sale_interest_percent',
       'dealing_number'],
      dtype='object')

In [21]:
pd.set_option("display.max_columns", None)

In [31]:
df.head(20)

,record_type,district_code,property_id,sale_counter,lodgement_datetime,property_name,unit_number,house_number,street_name,locality,postcode,land_area,area_type,contract_date,settlement_date,purchase_price,zoning,nature_of_property,primary_purpose,strata_lot_number,component_code,sale_code,sale_interest_percent,dealing_number
0,B,012,296303,1,20080512 01:07,,,28,BARTON AVE,SINGLETON,2330,815.7,M,20080312,20080413,390000,A,R,RESIDENCE,,AA,,0,AD932222
1,B,012,296306,2,20080512 01:07,,,34,BARTON AVE,SINGLETON,2330,670.3,M,20080307,20080416,267500,A,R,RESIDENCE,,AA,,0,AD931964
2,B,012,296413,3,20080512 01:07,,,2,BEH CL,SINGLETON HEIGHTS,2330,992.3,M,20080317,20080421,340000,A,R,RESIDENCE,,AA,,0,AD923999
3,B,012,298024,4,20080512 01:07,,,8,FLINDERS CL,SINGLETON HEIGHTS,2330,702,M,20080314,20080418,308000,A,R,RESIDENCE,,AA,AC,0,AD917987
4,B,012,304300,5,20080512 01:07,,,725 F,LAMBS VALLEY RD,LAMBS VALLEY,2335,81.5,H,20071129,20080118,970000,R,3,RURAL,,RS,,0,AD796837
5,B,012,298996,6,20080512 01:07,,,149,JOHN ST,SINGLETON,2330,489.2,M,20070626,20070626,425000,B,3,OFFICE,,BA,,0,AD935645
6,B,012,299878,7,20080512 01:07,,,35,ORCHARD AVE,SINGLETON,2330,586.2,M,20080414,20080414,162169,A,R,RESIDENCE,,AH,AC,0,AD918807
7,B,012,2868603,8,20080512 01:07,,,269,BELL RD,LOWER BELFORD,2335,2,H,20080319,20080424,490000,R,R,RESIDENCE,,RJ,,0,AD925455
8,B,012,3143671,9,20080512 01:07,,,168,GARDNER CCT,SINGLETON HEIGHTS,2330,846.4,M,20080312,20080418,120000,A,V,VACANT LAND,,AA,,0,AD922264
9,B,012,3192133,10,20080512 01:07,,1,25,BATHURST ST,SINGLETON,2330,,,20080307,20080418,283000,,R,RESIDENCE,1,,AC,0,AD917553
10,B,012,3235846,11,20080512 01:07,,,98 B,GARDNER CCT,SINGLETON HEIGHTS,2330,1305,M,20080317,20080418,370000,A,R,RESIDENCE,,AA,,0,AD922313
11,B,012,3174767,1,20140512 01:09,,,67,WOLLOMBI ST,BROKE,2330,8020,M,20140313,20140414,220000,R5,3,OTHER,,RZB,,0,AI546840
12,B,012,3672931,2,20140512 01:09,,,2 A,MEREWETHER CL,BRANXTON,2335,8386,M,20140221,20140417,283000,R5,V,VACANT LAND,,RRA,,0,AI546302
13,B,012,3752942,3,20140512 01:09,,,356,BRIDGMAN RD,WATTLE PONDS,2330,1,H,20140314,20140417,280000,E4,V,VACANT LAND,,ERR,,0,AI542712
14,B,012,3724842,4,20140512 01:09,,1,8,WRIGHT CL,HUNTERVIEW,2330,270,M,20140325,20140416,377000,,R,RESIDENCE,1,,,0,AI546247
15,B,012,297766,5,20140512 01:09,,,30,DOMINION AVE,HUNTERVIEW,2330,883.5,M,20140320,20140417,380000,R1,R,RESIDENCE,,AAV,,0,AI547609
16,B,012,296170,6,20140512 01:09,,,25,ANDREW ST,SINGLETON,2330,815.6,M,20140401,20140424,325000,R1,R,RESIDENCE,,AAH,,0,AI554769
17,B,012,296711,7,20140512 01:09,,5,1,BOONAL ST,SINGLETON,2330,,,20140408,20140414,400000,,R,RESIDENCE,5,,,0,AI560571
18,B,012,296817,8,20140512 01:09,,,8,BOWER PDE,SINGLETON HEIGHTS,2330,1334,M,20140305,20140416,380000,R1,R,RESIDENCE,,AAA,,0,AI548570
19,B,012,297082,9,20140512 01:09,,,4,BUTTON CL,DARLINGTON,2330,990.6,M,20140318,20140415,290000,R1,3,HOUSE,,AAD,,0,AI547599

In [32]:
cols_to_drop = ['record_type','property_id','sale_counter','lodgement_datetime','property_name','house_number','street_name','zoning','nature_of_property','component_code','sale_code','sale_interest_percent','dealing_number']

In [33]:
df = df.drop(columns=cols_to_drop)

In [34]:
df.head(20)

,district_code,unit_number,locality,postcode,land_area,area_type,contract_date,settlement_date,purchase_price,primary_purpose,strata_lot_number
0,012,,SINGLETON,2330,815.7,M,20080312,20080413,390000,RESIDENCE,
1,012,,SINGLETON,2330,670.3,M,20080307,20080416,267500,RESIDENCE,
2,012,,SINGLETON HEIGHTS,2330,992.3,M,20080317,20080421,340000,RESIDENCE,
3,012,,SINGLETON HEIGHTS,2330,702,M,20080314,20080418,308000,RESIDENCE,
4,012,,LAMBS VALLEY,2335,81.5,H,20071129,20080118,970000,RURAL,
5,012,,SINGLETON,2330,489.2,M,20070626,20070626,425000,OFFICE,
6,012,,SINGLETON,2330,586.2,M,20080414,20080414,162169,RESIDENCE,
7,012,,LOWER BELFORD,2335,2,H,20080319,20080424,490000,RESIDENCE,
8,012,,SINGLETON HEIGHTS,2330,846.4,M,20080312,20080418,120000,VACANT LAND,
9,012,1,SINGLETON,2330,,,20080307,20080418,283000,RESIDENCE,1
10,012,,SINGLETON HEIGHTS,2330,1305,M,20080317,20080418,370000,RESIDENCE,
11,012,,BROKE,2330,8020,M,20140313,20140414,220000,OTHER,
12,012,,BRANXTON,2335,8386,M,20140221,20140417,283000,VACANT LAND,
13,012,,WATTLE PONDS,2330,1,H,20140314,20140417,280000,VACANT LAND,
14,012,1,HUNTERVIEW,2330,270,M,20140325,20140416,377000,RESIDENCE,1
15,012,,HUNTERVIEW,2330,883.5,M,20140320,20140417,380000,RESIDENCE,
16,012,,SINGLETON,2330,815.6,M,20140401,20140424,325000,RESIDENCE,
17,012,5,SINGLETON,2330,,,20140408,20140414,400000,RESIDENCE,5
18,012,,SINGLETON HEIGHTS,2330,1334,M,20140305,20140416,380000,RESIDENCE,
19,012,,DARLINGTON,2330,990.6,M,20140318,20140415,290000,HOUSE,

In [40]:
df.shape

(2675664, 11)

In [43]:
df = df.drop_duplicates()

In [44]:
df.isnull().sum()

district_code        0
unit_number          0
locality             0
postcode             0
land_area            0
area_type            0
contract_date        0
settlement_date      0
purchase_price       0
primary_purpose      0
strata_lot_number    0
dtype: int64